.ab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments-container {
  max-width: 600px;
  border: 3px solid #ddd;
  padding: 30px;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.comment-item {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.comment-item strong {
  font-weight: bold;
  font-size: 16px;
}

.comment-item p {
  margin: 10px 0;
  font-size: 14px;
}

.add-comment {
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #436850;
}

button {
  padding: 12px 20px;
  background-color: #436850;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #335b3b;
}
