.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.page-header {
    text-align: center;
    margin-bottom: 20px;
}

.post-details {
    margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
input[type="url"],
textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc; 
    font-size: 18px;
    font-weight: normal; 
    background: transparent; 
    transition: border-bottom-color 0.3s; 
}

input[type="text"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
textarea:focus {
    outline: none;
    border-bottom-color: #436850;
    font-size: 24px; 
    font-weight: bold; 
}

button {
    padding: 15px 30px;
    background-color: #436850;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.form-group{
    margin-bottom: 25px;
}

#submit {
    margin-right: 10px;
}
button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}

button:hover {
    background-color: #436850;
}

.form-actions {
    text-align: right;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}
